.portfolio {
  color: #fff;
  padding-bottom: 90px;
  max-width: 1140px;
  margin: 0 auto;
}

.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin: 0;
}

.portfolio__progect {
  display: flex;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  padding: 31px 0 0;
}

.portfolio__item {
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-child {
  border: none;
}

.portfolio__text {
  margin: 0;
  padding: 20px 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 200% */
  letter-spacing: -1.2px;
}

@media (max-width: 768px) {
  .portfolio {
    max-width: 668px;
    padding-bottom: 54px;
    margin: 0 auto;
  }

  .portfolio__text {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 178.571% */
    letter-spacing: -1.12px;
  }

  .portfolio__item {
    border-bottom: 1px solid #fff;
  }
}

@media (max-width: 500px) {
  .portfolio {
    max-width: 292px;
    padding: 10px 0 51px;
  }

  .portfolio__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .portfolio__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
  }
  .portfolio__link {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
  }
  .portfolio__progect {
    padding: 21px 0 0;
  }
}
