.login-form {
  width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 67px 0;
}

.login-form__logo {
  width: 38px;
  height: 38px;
}

.login-form__title {
  padding: 40px 0;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.login-form__body {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.login-form__label {
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-form__label:last-of-type {
  margin-bottom: 0;
}

.login-form__input {
  margin: 10px 0 0;
  border-radius: 8px;
  background: #2f2f2f;
  border: none;
  color: #fff;
  max-width: 396px;
  height: 46px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 15px;
}
.login-form__error {
  color: #ee3465;
  min-height: 15px;
  padding-top: 5px;
}

.login-form__error-message {
  margin: 0;
}

.login-form__error-message_type_server {
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  min-height: 15px;
}
.login-form__button {
  margin-top: 179px;
  border-radius: 3px;
  background: #4285f4;
  width: 396px;
  height: 45px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-form__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.login-form__button_type_register {
  margin-top: 90px;
}

.login-form__text {
  margin: 0;
  padding-top: 16px;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-form__link {
  padding-left: 6px;
  color: #4285f4;
  text-decoration: none;
}

@media (max-width: 768px) {
  .login-form__title {
    padding: 38px 0;
  }
  .login-form__button {
    margin-top: 179px;
  }
  .login-form__button_type_register {
    margin-top: 91px;
  }
}

@media (max-width: 450px) {
  .login-form__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .login-form__title {
    padding: 44px 0;
  }
  .login-form {
    width: 260px;
    align-items: center;
    padding: 55px 0;
  }
  .login-form__button {
    width: 260px;
  }
  .login-form__body {
    padding-top: 37px;
  }
  .login-form__button {
    margin-top: 268px;
  }
  .login-form__button_type_register {
    margin-top: 177px;
  }
}
